:host {
    display: block;
    background-color: rgba(11, 10, 10, 0.8); /* Negro gris medio transparente */
    color: white; /* Para que el texto sea visible en el fondo oscuro */
    padding: 10px;
  }
  
  .footer-container {
    width: 100%;
    height: 60px; /* Ajusta la altura según tus necesidades */
    display: flex;
    align-items: center;
    justify-content: center;
  }
  