<app-headerauth></app-headerauth>
<div class="container mt-5">
    <div class="row justify-content-center">
      <div class="col-md-6">
        <div class="card">
          <div class="card-body">
            <h1 class="font-bold text-center mb-4">Confirmar registro</h1>
  
            <!-- Mostrar solo campo de token al inicio -->
            <form *ngIf="!mostrarFormularioPassword" (ngSubmit)="confirmarUsuario()">
              <div class="mb-3">
                <label for="token" class="form-label">Token</label>
                <input id="token" [(ngModel)]="token" name="token" type="text" class="form-control" placeholder="Ingresa el token enviado a tu correo electrónico" [class.is-invalid]="estiloToken">
                <div class="invalid-feedback" *ngIf="estiloToken">Token inválido.</div>
              </div>
              <button type="submit" class="btn btn-primary w-100 mb-3">Confirmar Token</button>
            </form>
  
             
            <!-- Mostrar mensaje de respuesta -->
            <div *ngIf="mensajeRespuesta" class="mb-3">
              <div [class]="'alert alert-' + estiloRespuesta" role="alert">
                {{ mensajeRespuesta }}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  