<app-headerauth></app-headerauth>
<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <div class="card">
        <div class="card-body">
          <div [class]="signIn ? 'form-wrapper' : 'form-wrapper hidden'">
            <h1 class="font-bold text-center mb-4">Iniciar Sesión</h1>
            <img src="https://www.svgrepo.com/show/219383/login.svg" alt="Login" width="150" height="150" class="d-block mx-auto" draggable="false">
            
            <form (ngSubmit)="validarEnvio()">
              <div class="mb-3">
                <label for="email1" class="form-label">Correo electrónico 
                  <svg xmlns="" width="16" height="16" fill="currentColor" class="bi bi-envelope" viewBox="0 0 16 16">
                    <path d="M0 4a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v8a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2zm2-1a1 1 0 0 0-1 1v.217l7 4.2 7-4.2V4a1 1 0 0 0-1-1zm13 2.383-4.708 2.825L15 11.105zm-.034 6.876-5.64-3.471L8 9.583l-1.326-.795-5.64 3.47A1 1 0 0 0 2 13h12a1 1 0 0 0 .966-.741M1 11.105l4.708-2.897L1 5.383z"/>
                  </svg>
                </label>
                <input id="email1" [(ngModel)]="email" name="email" type="email" class="form-control" placeholder="Ingresa tu correo electrónico" [class.is-invalid]="estiloEmail">
                <div class="invalid-feedback" *ngIf="estiloEmail">Por favor ingrese un correo válido.</div>
              </div>
              <div class="mb-3">
                <label for="password1" class="form-label">Contraseña 
                  <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-key" viewBox="0 0 16 16">
                    <path d="M0 8a4 4 0 0 1 7.465-2H14a.5.5 0 0 1 .354.146l1.5 1.5a.5.5 0 0 1 0 .708l-1.5 1.5a.5.5 0 0 1-.708 0L13 9.207l-.646.647a.5.5 0 0 1-.708 0L11 9.207l-.646.647a.5.5 0 0 1-.708 0L9 9.207l-.646.647A.5.5 0 0 1 8 10h-.535A4 4 0 0 1 0 8m4-3a3 3 0 1 0 2.712 4.285A.5.5 0 0 1 7.163 9h.63l.853-.854a.5.5 0 0 1 .708 0l.646.647.646-.647a.5.5 0 0 1 .708 0l.646.647.646-.647a.5.5 0 0 1 .708 0l.646.647.793-.793-1-1h-6.63a.5.5 0 0 1-.451-.285A3 3 0 0 0 4 5"/>
                    <path d="M4 8a1 1 0 1 1-2 0 1 1 0 0 1 2 0"/>
                  </svg>
                </label>
                <input id="password1" [(ngModel)]="password" name="password" type="password" class="form-control" placeholder="Ingresa tu contraseña" [class.is-invalid]="estiloPassword">
                <div class="invalid-feedback" *ngIf="estiloPassword">La contraseña debe tener al menos 6 caracteres.</div>
              </div>
              <div *ngIf="mensajeRespuesta" class="mb-3">
                <div class="alert alert-danger" role="alert">
                  {{ mensajeRespuesta }}
                </div>
              </div>
              <button type="submit" class="btn btn-primary w-100 mb-3">Iniciar Sesión</button>
              <p class="text-center">¿Olvidaste tu contraseña? <a href="#" (click)="signIn = false">Recupérala aquí</a></p>
            </form>
          </div>
          <div [class]="!signIn ? 'form-wrapper' : 'form-wrapper hidden'">
            <h1 class="font-bold text-center mb-4">Recuperar contraseña</h1>
            <img src="https://cdn-icons-png.flaticon.com/512/6195/6195700.png" alt="Login" width="150" height="150" class="d-block mx-auto" draggable="false">
            <form (ngSubmit)="recuperarPassword()">
              <div class="mb-3">
                <label for="emailRecuperar" class="form-label">Correo electrónico</label>
                <input id="emailRecuperar" [(ngModel)]="emailrecuperar" name="emailrecuperar" type="email" class="form-control" placeholder="Correo electrónico" [class.is-invalid]="estiloEmailRec">
                <div class="invalid-feedback" *ngIf="estiloEmailRec">Por favor ingrese un correo válido.</div>
              </div>
              <div *ngIf="mensajeRespuesta" class="mb-3">
                <div [class]="'alert alert-' + estiloRespuesta" role="alert">
                  {{ mensajeRespuesta }}
                </div>
              </div>
              <button type="submit" class="btn btn-primary w-100 mb-3">Enviar</button>
              <p class="text-center">¿Ya recuerdas tu contraseña? <a href="#" (click)="signIn = true">Inicia sesión aquí</a></p>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
